<html>
    <head>
        <title>It appears something went wrong</title>
    </head>
    <body>
	<h1><font size= "+5">It appears something went wrong</font></h1>
        <p> Please ensure you entered a positive number starting at 0 and that you were attemtping to access a vaild endpoint
        <p> Vaild endpoints look like http://host:port/v1/fib/A-NUMBER

        <p><font size= "+10"><a href="/">Go Back to usage page</a></font>
            
	    <p> <iframe src="https://giphy.com/embed/3e18NPUVzoxzO" width="480" height="262" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
    </body>
</html>
