<html>
    <head>
        <title>welcome to my fibonacci app</title>
    </head>
    <body>
	    <h1><font size= "+5">Welcome to my Fibonacci app</font></h1>
        <p>To use the app, just add the number of Fibonacci numbers you want to calculate as shown below. <br>
        i.e.:  &lt;host&gt;:&lt;port&gt;/v1/fib/&lt;num&gt;</p>
        <p>where "&lt;host&gt;" is the dns or ip address of host running the app &lt;port&gt; is the port used when you setup the app or the default of 8080 and "&lt;num&gt;" is the number of Fibonacci numbers you want to see.</p>
	<p><i>As a note there is a hard limit of 1000 to avoid memory exhaustion issues.</i> 
        <p>
	<br>
        <pr>Here are some examples:
            <ul>
                <li><a href="/v1/fib/5">First 5 numbers</a>
                <li><a href="/v1/fib/20">First 20 numbers</a>
            </ul>
        </p>
    </body>
</html>

